@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 40px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .languagency-title {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b );
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out;
    margin-bottom: 20px;
    box-shadow: 0 1.4rem 2.5rem rgba(0, 0, 0, 0.327);
    line-height: 1.3;
  }
  
  .languagency-subtitle {
    font-size: 1.5rem;
    background: linear-gradient(to right, #43cea2, #185a9d);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1.5s ease-in-out;
  }
  
  @media (min-width: 768px) {
    .languagency-title {
      font-size: 6rem;
    }
  
    .languagency-subtitle {
      font-size: 2rem;
    }
  }
  
