
.slogan-text-container {
    padding-right: 20px; /* Add some padding for spacing */
  }
  
  .slogan-text {
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold;
    color: #333; /* Text color */
    margin-bottom: 0; /* Remove margin bottom */
  }
  
  .circle-frame {
    display: inline-block;
    width: 200px; /* Adjust the size of the circular frame */
    height: 200px; /* Adjust the size of the circular frame */
    border: 8px solid #007bff; /* Blue border */
    border-radius: 50%; /* Make it circular */
    overflow: hidden;
  }
  
  .circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  